<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowMinimumClientVersionString</key>
	<string>900</string>
	<key>WFWorkflowMinimumClientVersion</key>
	<integer>900</integer>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconStartColor</key>
		<integer>-20702977</integer>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>61523</integer>
	</dict>
	<key>WFWorkflowClientVersion</key>
	<string>4033.0.3.5</string>
	<key>WFWorkflowOutputContentItemClasses</key>
	<array/>
	<key>WFWorkflowHasOutputFallback</key>
	<false/>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.takescreenshot</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>0FED131F-7534-4DCF-9267-C3DA36BFB831</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.image.crop</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>0FED131F-7534-4DCF-9267-C3DA36BFB831</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>截屏</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFImageCropY</key>
				<string>120</string>
				<key>WFImageCropWidth</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>截屏</string>
						<key>OutputUUID</key>
						<string>0FED131F-7534-4DCF-9267-C3DA36BFB831</string>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
								<key>PropertyName</key>
								<string>Width</string>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>2EEF6D2D-4FF3-473F-9F0C-2DA68B7CC32E</string>
				<key>WFImageCropHeight</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>截屏</string>
						<key>OutputUUID</key>
						<string>0FED131F-7534-4DCF-9267-C3DA36BFB831</string>
						<key>Aggrandizements</key>
						<array>
							<dict>
								<key>Type</key>
								<string>WFPropertyVariableAggrandizement</string>
								<key>PropertyName</key>
								<string>Height</string>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFImageCropPosition</key>
				<string>Custom</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.extracttextfromimage</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFImage</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>2EEF6D2D-4FF3-473F-9F0C-2DA68B7CC32E</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>裁剪后的图像</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>B587525F-DE1D-4F86-A7C6-4780710CB744</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>sentelligentTokenValue</string>
				<key>UUID</key>
				<string>e9dedd60-e6d9-51e7-92af-56ca03716ecc</string>
				<key>WFTextActionText</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>qingyangTokenValue</string>
				<key>UUID</key>
				<string>7b4688d0-ccf4-5938-99b4-f1190c06e9f3</string>
				<key>WFTextActionText</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.list</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>List</string>
				<key>UUID</key>
				<string>806e209b-4d6e-5d46-b66f-e0e5d953eab9</string>
				<key>WFItems</key>
				<array>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<string>出差报销</string>
					</dict>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<string>biubiu</string>
					</dict>
					<dict>
						<key>WFItemType</key>
						<integer>0</integer>
						<key>WFValue</key>
						<string>仅记 iCost（不回传）</string>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>List</string>
						<key>OutputUUID</key>
						<string>806e209b-4d6e-5d46-b66f-e0e5d953eab9</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>ledgerOptions</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.choosefromlist</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>chosenLedger</string>
				<key>UUID</key>
				<string>31e23e55-5e2d-5423-97d4-9dbaf5b14a55</string>
				<key>WFChooseFromListActionPrompt</key>
				<string>选择本次写入的 iCost 账本</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>ledgerOptions</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Text</string>
				<key>UUID</key>
				<string>75953c6c-97fd-592d-9294-ba5c8df85c08</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputName</key>
								<string>chosenLedger</string>
								<key>OutputUUID</key>
								<string>31e23e55-5e2d-5423-97d4-9dbaf5b14a55</string>
								<key>Type</key>
								<string>ActionOutput</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text</string>
						<key>OutputUUID</key>
						<string>75953c6c-97fd-592d-9294-ba5c8df85c08</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>ledgerName</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>com.gostraight.smallAccountBook.ICAISnapshotShortcutV7</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>rawText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>B587525F-DE1D-4F86-A7C6-4780710CB744</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>图像中的文本</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>content</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>0FED131F-7534-4DCF-9267-C3DA36BFB831</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>截屏</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>UUID</key>
				<string>FE7AC722-719E-41C7-BE70-697252FDCBFE</string>
				<key>AppIntentDescriptor</key>
				<dict>
					<key>TeamIdentifier</key>
					<string>PAG33UNQ5Q</string>
					<key>BundleIdentifier</key>
					<string>com.gostraight.smallAccountBook</string>
					<key>AppIntentIdentifier</key>
					<string>ICAISnapshotShortcutV7</string>
					<key>Name</key>
					<string>iCost</string>
				</dict>
				<key>price</key>
				<string></string>
				<key>text</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>string</key>
						<string>￼</string>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>OutputUUID</key>
								<string>F39C7D86-D2B6-46CA-B4E5-7C810F211BF8</string>
								<key>Type</key>
								<string>ActionOutput</string>
								<key>OutputName</key>
								<string>文本</string>
							</dict>
						</dict>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>B587525F-DE1D-4F86-A7C6-4780710CB744</string>
						<key>Type</key>
						<string>ActionOutput</string>
						<key>OutputName</key>
						<string>图像中的文本</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>ocrText</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>CurrentDate</string>
				<key>UUID</key>
				<string>e2920dbe-3d63-5206-8f16-197ad9a48e53</string>
				<key>WFDateActionMode</key>
				<string>Current Date</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputUUID</key>
						<string>e2920dbe-3d63-5206-8f16-197ad9a48e53</string>
						<key>Type</key>
						<string>CurrentDate</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>capturedDate</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.format.date</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>FormatDate</string>
				<key>UUID</key>
				<string>a73dd82c-c495-572b-bffa-5e656e7e2f09</string>
				<key>WFDate</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>capturedDate</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
				<key>WFDateFormatStyle</key>
				<string>ISO 8601</string>
				<key>WFTimeFormatStyle</key>
				<string>None</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>FormatDate</string>
						<key>OutputUUID</key>
						<string>a73dd82c-c495-572b-bffa-5e656e7e2f09</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>capturedAt</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.gettext</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Text 2</string>
				<key>UUID</key>
				<string>0e7f33f2-db7e-5235-8812-734037288599</string>
				<key>WFTextActionText</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>attachmentsByRange</key>
						<dict>
							<key>{0, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>ocrText</string>
							</dict>
							<key>{2, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>capturedAt</string>
							</dict>
							<key>{4, 1}</key>
							<dict>
								<key>Type</key>
								<string>Variable</string>
								<key>VariableName</key>
								<string>ledgerName</string>
							</dict>
						</dict>
						<key>string</key>
						<string>￼|￼|￼</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenString</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Text 2</string>
						<key>OutputUUID</key>
						<string>0e7f33f2-db7e-5235-8812-734037288599</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>idempotencySeed</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.hash</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>Hash</string>
				<key>UUID</key>
				<string>173f47a1-f69f-5850-814f-ab1ab8771022</string>
				<key>WFHashType</key>
				<string>SHA256</string>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>Type</key>
						<string>Variable</string>
						<key>VariableName</key>
						<string>idempotencySeed</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>Hash</string>
						<key>OutputUUID</key>
						<string>173f47a1-f69f-5850-814f-ab1ab8771022</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>idempotencyKey</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>625e2ceb-b7c9-5837-9080-a9e75209cc41</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>出差报销</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>ledgerName</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>JsonRequest</string>
				<key>UUID</key>
				<string>fa202f98-5850-5f53-b2ac-72ec1bd22442</string>
				<key>WFHTTPBodyType</key>
				<string>JSON</string>
				<key>WFHTTPHeaders</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Authorization</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{7, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>sentelligentTokenValue</string>
												<key>OutputUUID</key>
												<string>e9dedd60-e6d9-51e7-92af-56ca03716ecc</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>Bearer ￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFHTTPMethod</key>
				<string>POST</string>
				<key>WFJSONValues</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>text</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>ocrText</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>ledger_name</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>ledgerName</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>idempotency_key</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>idempotencyKey</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>source</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>icost-shortcut</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>captured_at</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>capturedAt</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>source_id</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{9, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>idempotencyKey</string>
											</dict>
										</dict>
										<key>string</key>
										<string>shortcut-￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFURL</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>JsonRequest</string>
						<key>OutputUUID</key>
						<string>fa202f98-5850-5f53-b2ac-72ec1bd22442</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>sentelligentResponse</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>625e2ceb-b7c9-5837-9080-a9e75209cc41</string>
				<key>WFControlFlowMode</key>
				<integer>1</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4657e555-2629-4d30-b30d-eade03fa1871</string>
				<key>WFCondition</key>
				<integer>4</integer>
				<key>WFConditionalActionString</key>
				<string>biubiu</string>
				<key>WFControlFlowMode</key>
				<integer>0</integer>
				<key>WFInput</key>
				<dict>
					<key>Type</key>
					<string>Variable</string>
					<key>Variable</key>
					<dict>
						<key>Value</key>
						<dict>
							<key>Type</key>
							<string>Variable</string>
							<key>VariableName</key>
							<string>ledgerName</string>
						</dict>
						<key>WFSerializationType</key>
						<string>WFTextTokenAttachment</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.downloadurl</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>CustomOutputName</key>
				<string>JsonRequest 1</string>
				<key>UUID</key>
				<string>c37a5f3e-48a5-57fe-9807-6ae74e3472f0</string>
				<key>WFHTTPBodyType</key>
				<string>JSON</string>
				<key>WFHTTPHeaders</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>Authorization</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{7, 1}</key>
											<dict>
												<key>OutputName</key>
												<string>qingyangTokenValue</string>
												<key>OutputUUID</key>
												<string>7b4688d0-ccf4-5938-99b4-f1190c06e9f3</string>
												<key>Type</key>
												<string>ActionOutput</string>
											</dict>
										</dict>
										<key>string</key>
										<string>Bearer ￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFHTTPMethod</key>
				<string>POST</string>
				<key>WFJSONValues</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>WFDictionaryFieldValueItems</key>
						<array>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>source</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>icost-shortcut</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>captured_at</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>capturedAt</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>source_id</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{9, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>idempotencyKey</string>
											</dict>
										</dict>
										<key>string</key>
										<string>shortcut-￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>text</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>ocrText</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>ledger_name</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>ledgerName</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
							<dict>
								<key>WFKey</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>string</key>
										<string>idempotency_key</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
								<key>WFValue</key>
								<dict>
									<key>Value</key>
									<dict>
										<key>attachmentsByRange</key>
										<dict>
											<key>{0, 1}</key>
											<dict>
												<key>Type</key>
												<string>Variable</string>
												<key>VariableName</key>
												<string>idempotencyKey</string>
											</dict>
										</dict>
										<key>string</key>
										<string>￼</string>
									</dict>
									<key>WFSerializationType</key>
									<string>WFTextTokenString</string>
								</dict>
							</dict>
						</array>
					</dict>
					<key>WFSerializationType</key>
					<string>WFDictionaryFieldValue</string>
				</dict>
				<key>WFURL</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.setvariable</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFInput</key>
				<dict>
					<key>Value</key>
					<dict>
						<key>OutputName</key>
						<string>JsonRequest 1</string>
						<key>OutputUUID</key>
						<string>c37a5f3e-48a5-57fe-9807-6ae74e3472f0</string>
						<key>Type</key>
						<string>ActionOutput</string>
					</dict>
					<key>WFSerializationType</key>
					<string>WFTextTokenAttachment</string>
				</dict>
				<key>WFSerializationType</key>
				<string>WFTextTokenAttachment</string>
				<key>WFVariableName</key>
				<string>qingyangResponse</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>4657e555-2629-4d30-b30d-eade03fa1871</string>
				<key>UUID</key>
				<string>796fcb9d-cf4f-4375-89cd-2da1bfe3e6f6</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.conditional</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>GroupingIdentifier</key>
				<string>625e2ceb-b7c9-5837-9080-a9e75209cc41</string>
				<key>UUID</key>
				<string>2b1b3ec1-2949-4da6-be4e-e60ef5cbd460</string>
				<key>WFControlFlowMode</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.nothing</string>
		</dict>
	</array>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFAppContentItem</string>
		<string>WFAppStoreAppContentItem</string>
		<string>WFArticleContentItem</string>
		<string>WFContactContentItem</string>
		<string>WFDateContentItem</string>
		<string>WFEmailAddressContentItem</string>
		<string>WFFolderContentItem</string>
		<string>WFGenericFileContentItem</string>
		<string>WFImageContentItem</string>
		<string>WFiTunesProductContentItem</string>
		<string>WFLocationContentItem</string>
		<string>WFDCMapsLinkContentItem</string>
		<string>WFAVAssetContentItem</string>
		<string>WFPDFContentItem</string>
		<string>WFPhoneNumberContentItem</string>
		<string>WFRichTextContentItem</string>
		<string>WFSafariWebPageContentItem</string>
		<string>WFStringContentItem</string>
		<string>WFURLContentItem</string>
	</array>
	<key>WFWorkflowImportQuestions</key>
	<array>
		<dict>
			<key>ParameterKey</key>
			<string>WFURL</string>
			<key>Category</key>
			<string>Parameter</string>
			<key>ActionIndex</key>
			<integer>21</integer>
			<key>Text</key>
			<string>森特智行 iCost Webhook 完整 URL</string>
			<key>DefaultValue</key>
			<string>https://82.156.210.199/api/integrations/icost/expenses</string>
		</dict>
		<dict>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Category</key>
			<string>Parameter</string>
			<key>ActionIndex</key>
			<integer>3</integer>
			<key>Text</key>
			<string>森特智行独立 Webhook Token</string>
			<key>DefaultValue</key>
			<string>请在导入时填写森特智行 Token</string>
		</dict>
		<dict>
			<key>ParameterKey</key>
			<string>WFURL</string>
			<key>Category</key>
			<string>Parameter</string>
			<key>ActionIndex</key>
			<integer>25</integer>
			<key>Text</key>
			<string>轻氧智能门店 iCost Webhook 完整 URL</string>
			<key>DefaultValue</key>
			<string>https://82.156.210.199/qingyang/api/integrations/icost/bookkeeping</string>
		</dict>
		<dict>
			<key>ParameterKey</key>
			<string>WFTextActionText</string>
			<key>Category</key>
			<string>Parameter</string>
			<key>ActionIndex</key>
			<integer>4</integer>
			<key>Text</key>
			<string>轻氧智能门店独立 Webhook Token</string>
			<key>DefaultValue</key>
			<string>请在导入时填写轻氧 Token</string>
		</dict>
	</array>
	<key>WFQuickActionSurfaces</key>
	<array/>
	<key>WFWorkflowTypes</key>
	<array>
		<string>Watch</string>
		<string>WFWorkflowTypeShowInSearch</string>
	</array>
	<key>WFWorkflowHasShortcutInputVariables</key>
	<false/>
</dict>
</plist>
